<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<title>Pagamento</title>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="/stylesheets/stylesheetConfermaCancellazione.css" type="text/css" />
</head>
<body>
	<div id="messaggio">
		<div>
			<h4 class="title">Quale Allievo deve effettuare il pagamento?</h4>
			<div>
				<div th:each="allievo : ${listaAllievi}">
					<a th:href="@{'/pagaAllievoId' + '/' + ${allievo.id}}"> <span
						th:text="${allievo.nome}"></span> <span
						th:text="${allievo.cognome}"></span>
					</a>
				</div>
				<br>
			</div>
			<form th:action="@{/homeGestione}" method="GET">
				<button type="submit">Home</button>
			</form>
			<br>
		</div>
	</div>
</body>
</html>