<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<title>Pagamento Effettuato</title>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="/stylesheets/stylesheetConfermaCancellazione.css" type="text/css" />
</head>
<body>
	<div id="messaggio">
		<div>

			<p th:text="${pagato}" />
			<p th:text="${nonPagato}" />
			<form id="home" th:action="@{/pagamento}" method="GET">
				<button type="submit">Torna a Pagamento Allievo</button>
			</form>
			<form th:action="@{/homeGestione}" method="GET">
				<button type="submit">Home Amministrazione</button>
				<br>

			</form>

		</div>
	</div>
</body>
</html>