<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<title>Cancellazione</title>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="/stylesheets/stylesheetConfermaCancellazione.css" type="text/css" />
</head>
<body>
	<div id="messaggio">
		<h4 class="title">Cancella Attivita, Confermare?</h4>
		<div>
			Descrizione : <span th:text="${attivita.descrizione}"></span>
		</div>
		<div>
			Prezzo : <span th:text="${attivita.prezzo}"></span>
		</div>
		<div>
			Data Attivita : <span th:text="${attivita.dataAttivita}"></span>
		</div>
		<div>
			Ora Inizio : <span th:text="${attivita.oraInizio}"></span>
		</div>
		<div>
			Ora Fine : <span th:text="${attivita.oraFine}"></span>
		</div>
		<div>
			Centro Formazione : <span th:text="${attivita.centroFormazione}"></span>
		</div>
		<p>Lista Degli Allievi che vi partecipano</p>
		<div>
			<div th:each="allievo : ${listaAllievi}">
				<a th:href="@{'/findAllievoId' + '/' + ${allievo.id}}"> <span
					th:text="${allievo.nome}"></span> <span
					th:text="${allievo.cognome}"></span>
				</a>
			</div>
			<br>
		</div>
		<form th:action="@{'/deleteAttivita' + '/' + ${attivita.id}}"
			method="POST">
			<button type="submit">Conferma Cancellazione</button>
		</form>
		<form th:action="@{/listaAttivita}">
			<button type="submit">Annulla Cancellazione</button>
		</form>
		<br>
	</div>
</body>
</html>