<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<title>Attivita</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="/stylesheets/stylesheetShowAllievo.css"
	type="text/css" />
</head>
<body>
	<div id="inizio">
		<h1 class="iscritto">Dati Attivita:</h1>
	</div>

	<div id="show">
		<div>
			Descrizione : <span th:text="${attivita.descrizione}"></span>
		</div>
		<div>
			Prezzo : <span th:text="${attivita.prezzo}"></span>
		</div>
		<div>
			Data : <span th:text="${attivita.dataAttivita}"></span>
		</div>
		<div>
			Ora Inizio : <span th:text="${attivita.oraInizio}"></span>
		</div>
		<div>
			Ora Fine : <span th:text="${attivita.oraFine}"></span>
		</div>
		<div>
			Centro Formazione : <span th:text="${attivita.centroFormazione}"></span>
		</div>

		<div>Lista dei Partecipanti : </div>
		<div id="showLista">
			<div th:each="allievo : ${listaAllievi}">
				<a th:href="@{'/findAllievoId' + '/' + ${allievo.id}}"> <span
					th:text="${allievo.nome}"></span> <span
					th:text="${allievo.cognome}"></span>
				</a>
			</div>
		</div>
	</div>
	<br>

	<br>
	<form id="cancella"
		th:action="@{'/cancellaAttivita' + '/' + ${attivita.id}}">
		<button type="submit">Cancella Attivita</button>
	</form>
	<form id="modifica"
		th:action="@{'/modificaAttivita' + '/' + ${attivita.id}}">
		<button type="submit">Modifica Attivita</button>
	</form>
	<form id="cancella" th:action="@{/inserisciAttivita}">
		<button type="submit">Inserisci Nuovo Attivita</button>
	</form>
	<form id="cancella" th:action="@{/listaAttivita}" method="GET">
		<button type="submit">Lista Tutti Attivita</button>
	</form>
	<form id="home" th:action="@{/homeGestione}">
		<button type="submit">Home</button>
	</form>

</body>
</html>