<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<title>Cancellazione</title>
<link rel="stylesheet"
	href="/stylesheets/stylesheetConfermaCancellazione.css" type="text/css" />
</head>
<body>
	<div id="messaggio">
		<h4>Partecipazione Cancellata con Successo</h4>
		<br>
		<form th:action="@{/listaAllievi}">
			<button type="submit">Lista Allievi</button>
		</form>
		<form th:action="@{/homeGestione}" method="GET">
			<button type="submit">Home Amministratore</button>
		</form>
		<br>
	</div>
</body>
</html>