<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">

<head>

<meta charset="ISO-8859-1">
<title>ricercaAllievo</title>
<link rel="stylesheet" href="/stylesheets/stylesheetFindAllievo.css" type="text/css" />
		
</head>


<body>

<div id="findallievo">
	 <div id="inizio">
		<h1 class="title">Cerca un Allievo</h1>
		<p th:text="${notexists}"></p>
	</div>


	<!-- Genera il form con il campo di inserimento dell'email per la ricerca di un Allievo-->
		<form id="Find" th:action="@{/findAllievo}" method="GET">
          
          <!--Genera la maschera con il campo di inserimento dell'email -->
          <fieldset>

            <input id="email" name="email" placeholder="Email" required><br>
            <span th:text=" ${errorParam}"></span>

		<button id="email" class="button" type="submit">Cerca</button>
            
          </fieldset>

          
         </form>
</div>

	<div id="lista">
		<h1 class="title">I Nostri Allievi:</h1>
		<hr>
		<a id="homelink" href="#">Home</a>
	</div>

	<ul th:each="allievo : ${listaAllievi}">
		<li> <a th:href="@{'/findAllievoId' + '/' + ${allievo.id}}">
			<span th:text="${allievo.nome}"></span>
			<span th:text="${allievo.cognome}"></span>
			</a></li>
			
	</ul>

		<form id="back" th:action="@{/homeGestione}">
			<button type="submit">Home</button>
		</form>

</body>

</html>