<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<title>Cancellazione</title>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="/stylesheets/stylesheetConfermaCancellazione.css" type="text/css" />
</head>
<body>
	<div id="messaggio">
		<h4 class="title">Cancella Allievo, Confermare?</h4>
		<div>
			Nome : <span th:text="${allievo.nome}"></span>
		</div>
		<div>
			Cognome : <span th:text="${allievo.cognome}"></span>
		</div>
		<div>
			Email : <span th:text="${allievo.email}"></span>
		</div>
		<div>
			Telefono : <span th:text="${allievo.telefono}"></span>
		</div>
		<div>
			Data di Nascita : <span th:text="${allievo.dataNascita}"></span>
		</div>
		<div>
			Luogo di Nascita : <span th:text="${allievo.luogoNascita}"></span>
		</div>
		<p>Lista delle Attivita</p>
		<div>
			<div th:each="attivita : ${listaAttivita}">
				<a th:href="@{'/findAttivitaId' + '/' + ${attivita.id}}"> <span
					th:text="${attivita.descrizione}"></span> Il <span
					th:text="${attivita.dataAttivita}"></span> Dalle <span
					th:text="${attivita.oraInizio}"></span> Alle <span
					th:text="${attivita.oraFine}"></span> € <span
					th:text="${attivita.prezzo}"></span>
				</a>
			</div>
			<br>
		</div>
		<div>
			Totale Importo Dovuto : € <span th:text="${allievo.importoDovuto}"></span>
		</div>
		<br>
		<form th:action="@{'/deleteAllievo' + '/' + ${allievo.id}}"
			method="POST">
			<button type="submit">Conferma Cancellazione</button>
		</form>
		<form th:action="@{/listaAllievi}">
			<button type="submit">Annulla Cancellazione</button>
		</form>
		<br>
	</div>
</body>
</html>